[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "PWEV"]
	path = PWEV
	url = https://github.com/cran/PWEV
[submodule "TSF"]
	path = TSF
	url = https://github.com/cran/TSF
[submodule "TSLSTM"]
	path = TSLSTM
	url = https://github.com/cran/TSLSTM
[submodule "UEI"]
	path = UEI
	url = https://github.com/cran/UEI
[submodule "VIRF"]
	path = VIRF
	url = https://github.com/cran/VIRF
[submodule "WaveletANN"]
	path = WaveletANN
	url = https://github.com/cran/WaveletANN
[submodule "WaveletArima"]
	path = WaveletArima
	url = https://github.com/cran/WaveletArima
[submodule "WaveletGARCH"]
	path = WaveletGARCH
	url = https://github.com/cran/WaveletGARCH
[submodule "WaveletGBM"]
	path = WaveletGBM
	url = https://github.com/cran/WaveletGBM
[submodule "WaveletRF"]
	path = WaveletRF
	url = https://github.com/cran/WaveletRF
[submodule "WaveletSVR"]
	path = WaveletSVR
	url = https://github.com/cran/WaveletSVR
